$primary: #232A44;
$primary-dark-1: #151928;
$primary-dark-2: #07080D;
$primary-light-1: #333A5C;
$primary-light-2: #414A76;
$secondary: #d1b058;;
$secondary-light-1: #DBC180;
$secondary-light-2: #E9D9AF;
$secondary-bg: #FAF6F0;
$secondary-bg-darker-1: #F5EDE0;
$secondary-bg-darker-2: #F0E3D1;
$font-light: #FAF6F0;
$font-dark: #07080D;
$body-bg: #232A44;

$table-color: $font-dark;
$table-bg: transparent;

$list-group-color: $font-dark;
$list-group-bg: white;

$pagination-bg: none;
$pagination-border-color: $primary;
$pagination-hover-color: $font-light;
$pagination-hover-bg: $primary-light-2;


$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "primary-dark-1": $primary-dark-1,
    "primary-dark-2": $primary-dark-2,
    "primary-light-1": $primary-light-1,
    "primary-light-2": $primary-light-2,
    "secondary-light-1": $secondary-light-1,
    "secondary-light-2": $secondary-light-2,
    "secondary-bg": $secondary-bg,
    "secondary-bg-darker-1": $secondary-bg-darker-1,
    "secondary-bg-darker-2": $secondary-bg-darker-2,
    "light": $font-light,
    "dark": $font-dark,
);