@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$spacers: (
    // The rest of numbers you need to use...
    6: ($spacer * 10)
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: white;
    font-family: Montserrat, sans-serif;
}

nav {
    border-bottom: 1px solid $secondary;
    background-color: white;
}

footer {
    border-top: 1px solid $secondary;
}

h1, h2, h3, h4 {
    font-family: "Merriweather", serif;
}

h1.main {
    margin: 2em 0 .2em 0;
}

h1.sub {
    color: gray;
    font-size: 1.5em;
    font-family: Montserrat, sant-serif;
    font-weight: 200;
    letter-spacing: .1em;
    margin-bottom: 1.8em;
}

a{
    text-decoration: none;
    font-weight: 400;
    color: $primary;
}

a:hover{
    color: $secondary-light-2;
}

p {
    white-space: pre-line;
    text-align: justify;
 }

 .bold {
    font-weight: 500;
    font-stretch: semi-expanded;
 }

 .light {
    font-weight: 100;
 }

 .row-border {
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    margin: 2em;
 }

 .font-center {
    text-align: center;
 }

 .cfp {
    font-size: 1.2em;
    font-stretch: semi-expanded;
    font-weight: 300;
 }