@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$spacers: (
    // The rest of numbers you need to use...
    6: ($spacer * 10)
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: white;
    font-family: Montserrat, sans-serif;
    color: $primary;
}

nav {
    border-bottom: 1px solid $secondary;
    background-color: white;
    color: $primary;
}

footer {
    border-top: 1px solid $secondary;
}

h1, h2, h3, h4 {
    font-family: "Merriweather", serif;
    color: $primary-light-2;
}

h1.main {
    margin: 0 0 .2em 0;
}

h1.sub {
    color: gray;
    font-size: 1.5em;
    font-family: Montserrat, sant-serif;
    font-weight: 200;
    letter-spacing: .1em;
    margin-bottom: 1.8em;
}

h1.sup{
    font-size: 1.1em;
    letter-spacing: .3em;
    font-variant: small-caps;
    color: $secondary;
    margin: 4em 0 1em 0;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

a{
    text-decoration: none;
    font-weight: 400;
    color: $primary;
    text-decoration: underline dotted 1px $secondary;
}

a:hover{
    color: $secondary-light-2;
}

.none {
    text-decoration: none;
}

.none:hover {
    text-decoration: none;
    color: $primary;
}

p {
    white-space: pre-line;
    text-align: justify;
 }

.bold {
font-weight: 500;
font-stretch: semi-expanded;
}

.it {
font-stretch: semi-expanded;
font-style: italic;
}

.light {
font-weight: 100;
}

.row-border {
border-top: 1px solid $secondary;
border-bottom: 1px solid $secondary;
margin: 2em;
}

.font-center {
text-align: center;
}

.cfp {
font-size: 1.2em;
font-stretch: semi-expanded;
font-weight: 300;
}

.primary {
color: $primary-light-2;
}

.secondary {
color: $secondary;
}

.keynote {
border: 1px solid $secondary;
padding: 1em;
}

.caps {
letter-spacing: .1em;
font-variant: small-caps;
}

.chair {
    color: $secondary;
    font-size: 1em;
    text-align: end;
    font-variant: small-caps;
    margin: 1em 0 1em 0;
}

.strike-through {
    text-decoration: line-through;
}